.body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* --------HEADER------ */

.header {
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    width: 100%;
}

.header-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-item:not(:last-child) {
    margin-right: 72px;
}

.header-link {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
}

.header-link:hover, 
.header-link:focus {
    color: aqua;
}


/* -------HERO------ */

.hero {
    padding-top: 0;
    padding-bottom: 42px;
}

.hero-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.22;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    margin-top: 42px;
    margin-bottom: 38px;
    text-align: center;
    
}

.hero-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}

.hero-text:not(:last-child){
    margin-bottom: 28px;
}

.hero-wrapper {
    max-width: 1145px;
    margin: 0 auto;
    justify-content: center;
}

.hero-btn {
    font-family: inherit;
    min-width: 191px;
    min-height: 51px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 4px;
    background-color: #FF0000;
    margin: 0 auto;
    border: none;
}

.hero-btn:hover, 
.hero-btn:focus {
    background-color: rgb(36, 22, 22);
    color: aqua;
}

/* -------FOOTER------ */

.footer {
padding-top: 40px;
padding-bottom: 29px;
}

.footer-text {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
}

.footer-wrapper {
    display: flex;
    justify-content: end;
    margin-left: 105px;
}
